* {
  font-size: 20px;
  box-sizing: border-box;
}
body{
  font-family: Verdana;
  border: 1px solid grey;
  padding: 3px;
}
form{
  width:1024px;
}
h1{
  color: green;
}
p{
  color: turquoise;
  }
  a.github_link{
    color: green;
    border: 1px solid palevioletred;
  }
  strong.violet_name{
    color: palevioletred;
    font-size: 30px;
    font-style: Verdana;
  }
  
.important {
  color: red;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 10px;
}
input[type="date"] {
  color: green;
}
#experience {
  background-color: turquoise;
}
 ul{
  list-style:none;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
table{
  background-color: turquoise;
  color: green;
}